/* Code taken from https://www.taniarascia.com/how-to-create-a-memory-game-super-mario-with-plain-javascript/*/
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y:auto;
}

body {
    background: white;
    font-family: 'Quicksand', sans-serif;
}

.heading {
    text-align: center;
    font-size: 20px;
}

h2 {
    color: #da0da4;
}

#game {
    margin-bottom: 20px;
}

/* Code taken from https://www.taniarascia.com/how-to-create-a-memory-game-super-mario-with-plain-javascript/*/
.grid {
    max-width: 960px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

/* Code taken from https://www.taniarascia.com/how-to-create-a-memory-game-super-mario-with-plain-javascript/*/
.card {
    position: relative;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 2px;
}

.card, .back, .front {
    height: 150px;
    width: 200px;
}

/* Code taken from https://www.taniarascia.com/how-to-create-a-memory-game-super-mario-with-plain-javascript/*/
.back, .front {
    position: absolute;
    -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}

.front {
    background: url('../images/useyourbrain.jpg') no-repeat center center / contain;
}

/* Code taken from https://www.taniarascia.com/how-to-create-a-memory-game-super-mario-with-plain-javascript/*/
.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Code taken from https://www.taniarascia.com/how-to-create-a-memory-game-super-mario-with-plain-javascript/*/
.selected {
    -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
}
/* keeps matched cards visible*/
.match, .back {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.scoreboard {
    height: 50px;
    width: 650px;
    margin : 0 auto;
	padding : 5px;
	display : flex;
	flex-direction: row;
	justify-content:space-between;
    color: #0aa2dc; 
}

.moves, .timer {
    font-size: 20px;
}

.restart {
    border: none;
    background-color: white;
    height: fit-content;
    margin-top: 5px;
    font-family: 'Quicksand', sans-serif;
    color: #0aa2dc;
    font-size: 20px;
}

.restart:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.popUp {
    background-color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    width: 540px;
    height: 300px;
    border-radius: 0.8rem;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    visibility: hidden;
}

.popUpText {
    font-size: 2.4rem;
    font-weight: bold;
    color: #da0da4;
    position: relative;
    top: 2rem;
    text-align: center;
}

.popUpTime, .popUpMoves {
    font-size: 25px;
    color: #363636;
    position: relative;
    top: 4rem;
    text-align: center;
}

.playAgain {
    background-color: #0aa2dc;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    position: relative;
    top: 6rem;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: none;
    margin-left: 155px;
    box-sizing: border-box;
}

.playAgain:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.copyright {
    height: 30px;
    width: 210px;
    margin : 0 auto;
    padding: 30px 0;
	display : flex;
    font-size: 15px;
}

.symbol {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
}

/* -------------MEDIA QUERIES---------------*/
/* FOR PHONES */
@media (max-width: 414px) {

	.grid {
		width: 320px;
	}

    .heading {
        margin-left: 15px; 
    }
    
    .card, .back, .front {
        width: 150px;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 2px;
    }

    .scoreboard {
        width: 320px;
        height: 50px;
        padding: 15px;
    }

    .restart {
        margin-top: 0;
    }

    .timer {
        padding: 0;
    }

    #game {
        margin-bottom: 5px;
    }

    .popUp {
        width: 350px;
        height: 400px;
    }

    .playAgain {
        margin-left: 70px;
    }

}}

/* FOR TABLETS */

@media (min-width: 768px) {
	.grid {
		width: 700px;
	}

    .heading {
        width: 500px;
        margin: auto;
    }
    .card, .back, .front {
        width: 150px;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 2px;
    }

    .scoreboard {
        width: 500px;
        height: 50px;
        padding: 15px;
    }

    .restart {
        margin-top: 0;
    }

    .timer {
        padding: 0;
    }

    #game {
        margin-bottom: 5px;
    }
}

/* FOR SCREENS 1068px AND LARGER*/

@media (min-width: 1024px) {

    .grid {
        width: 960px;
    }

    .heading {
        width: auto;
    }

    .card, .back, .front {
        height: 150px;
        width: 200px;
    }
    .scoreboard {
        height: 50px;
        width: 650px;
        margin : 0 auto;
	    padding : 15px;
    }
}